h2{
    width: 100%;
    text-align: center;
    background-color: #243447;
    color:azure;
    padding: 20px 0px;
}
textarea{
    width: 100%;
    height: 200px;
}
button{
    text-align: center;
    width: 49.5%;
    background-color: black;
    color: white;
    padding: 20px 0px;
}
div{
    min-height: 100px;
}